@charset "utf-8";
//头部小导航
.headBox{background: #262729;}
.headBox .head{width: 1290px;height: 45px ;
    background:#262729;
    margin: 0 auto;}
.headBox .head .im{margin-top:10px;margin-right:90px;float: left;}
.headBox .head .hed{float: left;width:985px;margin-top: 10px;}
.headBox .head .hed li{float: left;}
.headBox .head .hed li a{float: left;display: block;font-size: 12px;color: #c0c0c0;margin:0px 18px 0px 18px;line-height: 25px;}
.headBox .head article{float:right;margin-top: 10px;}
.headBox .head article .im1{margin:0 24px 0 100px}
//小导航
.se1{
    background-color: #f7f7f7; 
    border-bottom: 1px solid rgb(83, 83, 83);
        border-color: #e2e2e2;
    section{
        width: 1220px;
        height: 37px;
        
        margin:0 auto; 
        text-align: center;
        ul{
            li{
                float: left;
                a{
                    padding: 0 15px;
                    line-height: 38px;
                    font-size: 12px;
                    color: #7b7b7b;
                    
                }
            }
        }
    }
}
//手机详情页内容
.se2{
    height: 600px;
    // background-color: burlywood;
    .im{
       
        height: 500px;
        width: 500px;
        margin:50px 0 0  90px;
        float: left;
        //=======
        #small{width: 500px; height: 500px; position: absolute; left: 100px; top: 100px; }
        #small img{width: 100%; height: 100%;}
        #mark{width: 200px; height: 200px; background-color: white; opacity: 0.5; filter: alpha(opacity=50); position: absolute; left: 0px; top: 0px; display: none;}
    
        #big{width: 400px; height: 400px;  position: absolute; left: 700px; top: 100px; display: none; overflow: hidden;}
        #big img{width: 1000px; height: 1000px; position: absolute;}
    }



    section{
        float: right;
        width: 610px;
        article{
            height: 106px;
            width: 610px;
            // background-color: pink;
            border-bottom: 1px solid rgb(172, 172, 172);
            h1{
                margin-top: 46px;
               
                font-size: 24px;
                color: #000;
            }
            h2{
                font-size: 12px;
                color: #999;
                padding-top: 20px;
                
            }

         }
        //第二个促销活动
        article{
            width: 610px;
            height: 145px;
           padding-top: 30px;
            span{font-size: 14px;
                color:rgb(39, 39, 39);
                float: left; 
              }
            aside{
                float: left;
                a{  font-size: 12px;
                    display: block;
                    margin-top: 30px;
                    span{
                        color: orange;
                        margin: 0 20px 0 20px;
                    }
                }
            }

            
        }
  
         
    //第三个
    .ar3{
        width: 610px;
        height: 100px;
        span{
            font-size: 12px;
            color: #333;
            width: 65px;
            height: 34px;
            display: block;
        }
        ul{
            width: 525px;
            height: 70px;
            // background-color: orange;
           
            li{
                float: left;
                width: 115px;
                height: 39px;
                padding-left: 20px;
                a{
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
              }
           }
       }
    
    //4个
     .ar4{
         border:none;
         .ss{
             font-size: 14px;
             color: #333;
         }
         .aa{
             font-size: 12px;
             color: #666;
           margin-left:20px ;
         }
     }
    }
}

// 定位
.pot{
    position: fixed;
    top:0;
	 bottom: 0;
	 left:0;
    right: 0;
	 margin:auto auto 0;
	 width:860px;
	 height: 170px;
	 
    z-index:25;
    width: 1349px;
    height: 60px;
    background-color: #e9e9e9;
    line-height: 60px;
    .pl{
        margin-left: 100px;
        float: left;
        a:nth-child(1){
            font-size: 12px;
            color: #262729;
            margin-right: 20px;
        }
        a:nth-child(2){
            font-size: 14px;
            color: #252525;
            font-weight: 800;
            margin-right: 20px;
        }
        a:nth-child(3){
            font-size: 14px;
            color: #d40d0d;
            font-weight: 800;
            margin-right: 20px;
        }
    }
    .pr{
        float: right;
        margin-left: 110px;
        .ar{
            font-size: 16px;
            font-weight: 800;
            color: #d40d0d;
        }
        a:nth-child(2){
            font-size: 14px;
            color: #252525;
            font-weight: 800;
            width: 88px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border: 1px solid #666;
            border-radius: 5px 5px;
           float: right;
           background-color: #6f97e5;
        // background-image:linear-gradient(#6f97e5,#527ed9);
        // box-shadow:inset 0 1px 2px #7ea1e8;
           margin-right: 46px;
           margin-top: 10px;
        }
        a:nth-child(3){
            font-size: 14px;
            color: #252525;
            font-weight: 800;
            width: 88px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border: 1px solid #666;
            border-radius: 5px 5px;
           float: right;
           background-color: #f8f8f8;
            margin-left: 100px;
            margin-right: 46px;
            margin-top: 10px;
        }
    }
}