@charset "utf-8";
//头部小导航
.headBox{background: #262729;}
.headBox .head{width: 1290px;height: 45px ;
    background:#262729;
    margin: 0 auto;}
.headBox .head .im{margin-top:10px;margin-right:90px;float: left;}
.headBox .head .hed{float: left;width:985px;margin-top: 10px;}
.headBox .head .hed li{float: left;}
.headBox .head .hed li a{float: left;display: block;font-size: 12px;color: #c0c0c0;margin:0px 18px 0px 18px;line-height: 25px;}
.headBox .head article{float:right;margin-top: 10px;}
.headBox .head article .im1{margin:0 24px 0 100px}
 //首页导航
 .sHead{
     background: white;
    div{
        width: 1220px;
        height: 74px;
        margin:0 auto; 
        position: relative;
      
     //导航
        ul{ 
            float: left;
            li{
                float: left;
                .a1{
                    margin-left: 0;
                    font-weight: 800;
                    color: #4c4c4c;
                }
                a{
                    margin:0 15px 0 15px;line-height: 74px;
                    font-size: 14px; 
                    display: block;
                    color: #949494;
                }
                .a2{
                    margin-right: 115px;
                }
            }
        }

        //表单
        form{
            float: right;
            width: 330px;
            height: 38px; 
            position: relative;
            margin-top: 18px;
            margin-right: 3px;
            .inp{
                width: 330px;
                height: 38px;
                border:1px solid gray;
                border-radius: 20px 20px ; 
                outline: none;
                }
            .iconfont{
                position: absolute;
                left: 12px;
                top: 12px;
                
            }
            .inp1{
                width: 80px;
                height: 20px;
                border: 1px solid #93b2f7;
                border-radius: 15px 15px ; 
                text-align: center;
                color:#93b2f7;
                position: absolute;
                left:140px; 
                top:9px;
            }
            .inp2{
                width: 70px;
                height: 20px;
                border: 1px solid  #8aad37;
                border-radius: 15px 15px ;
                text-align: center; 
                font-size: 12px;
                color: #8aad37;
                position: absolute;
                right:8px; 
                top:9px;
            }

       
        }
        //下拉
        .xxk{
            display: none;
            position:absolute;
            left: 5px;
            top:70px;
            z-index: 2;
            text-align: center;
            background-color: rgb(255, 255, 255);
            width: 100%;
            height: 266px;
            ul{
                width: 600px;
                margin-left: 400px;
                margin-top:40px;
                li{
                    h3:last-child{
                        color:red;
                    }
                }
            }
            //箱包
            .xxk1{
               ul{ 
                margin-top: 30px; 
                   
               }
            }
        }

    }
    
 }

 //轮播图
 .banBox{
     background-color: #ececec;
     .banner {
        width: 1220px;
        height: 500px;
        position: relative;
        margin:0px auto;
        
         
        ul{
            li{
                width: 100%;
                height: 100%;
                position: absolute;
                a{
                    img{
                        width: 100%;
                        height: 100%; 
                    }
                }
            }
        }
     }
 }
 //商品列表
.sp{
    //  background-color: #ececec;
     section{
         width: 1220px;
         height: 202px;
         margin:0 auto;
         border: 1px solid gray;
         border-radius: 5px 5px;
        margin-bottom: 20px;
        border-color:rgb(194, 194, 194) ;
        a{
             width: 305px;
             background-color: gray;
             float: left;
             img{
                width: 100%;
                height: 100%;
             }
         }
     }
 }
//热门商品
.hodBox{
    // background-color: #ededed;
    .hod{
        width: 1220px;
        height: 500px;
        margin:0 auto;
        border: 1px solid gray;
        border-radius: 5px 5px;
       
        border-color:rgb(194, 194, 194) ;
       
        section{
            background-color: #fff;
            border-bottom: 1px solid gray ;
            border-color:rgb(194, 194, 194) ;
            height: 60px;
            width: 1220px;
            h5{
                font-size: 18px;
                color: #666;
                margin-left: 26px;
                line-height:60px ;
                width:100px;
                float: left;
             }
             article{
                 float: right;
                 margin-top: 20px;
                 margin-right: 20px;
                 
             }
           
           }
           aside{
 
               dl{
                float: left;
                width: 304px;
                height: 438px;
                border-right: 1px solid gray;}
                text-align: center;
                border-color:rgb(194, 194, 194) ;
                dt{
                    margin-top: 30px;
                }
                
                .d1{
                    font-size: 14px;
                    color:#333;
                    font-weight: 900;
                    margin: 5px 0;
                }
                .d2{
                    font-size: 14px;
                    color:#626262;
                    margin: 5px 0;
                }
                .d3{
                    font-size: 16px;
                    color:#d7574f;
                    font-weight: 900;
                    margin: 5px 0;
                }
              }
              #dd0{
                background-color: #fff;
                 }
               #dd1{
                   background-color: #fff;
                 }
               #dd2{
                    background-color: #fff;
                }
                #dd3{
                    background-color: #fff;
                }
                #dd4{
                    background-color: #fff;
                }
            
        }
    } 
 //foot
 .foot{
    background-color:#fff ;
    section{
        width: 1220px;
        height: 210px;
        margin:0 auto;
        margin-top: 40px;
            ul{
                padding-top: 40px;
                li{
                    float: left;
                    margin-right: 90px;
                    
                    h5{
                        color:#5a5a5a;
                        margin-bottom: 26px;
                    }
                    a{
                        display: block;
                        color: #646464;
                        font-size: 14px;margin-bottom: 10px;
                       
                    }
                     
                }
            }
         
    }
    //aside
    aside{
        width: 1220px;
        height: 111px;
        border-top: 1px solid rgb(144, 144, 144);
        margin:0 auto;
        p{  padding-top: 20px;
            color: #707070;
            font-size: 14px;
            line-height: 24px;
        }
    }
 }